<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div data-behavior="vue">
      <%= yield %>
    </div>
  </body>
  <footer>
    Footer.
  </footer>
</html>
